.login-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-element{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.form-element label{
  display: flex;
  flex-direction: column;
}

.form-element input{
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #afafaf;
}